$bg-primary: #2C2D31;
$bg-secondary: #1C1F2B;
$bg-table-row-hover: #272A38;
$bg-table-row: #222431;
$btn-primary: #0F62FE;
$btn-grey: #303549;
$white: #ffffff;
$text-white: #D7E2F2;
$text-blue: #0089FF
