<div class="header_container">
  <div class="header_container__logo">
    <img src="/assets/images/header-logo.png" alt="logo">
  </div>
  <div class="header_container__toggle">
    <img src="/assets/images/header-arrow.png" alt="arrow">
  </div>
  <app-header-item>
    <img src="/assets/images/logo-small.png" alt="logo" slot="icon">
    <div class="title_container" slot="name">
      <span class="title_container__blue">СЭМ</span>
      <span class="title_container__white">МНПЗ</span>
    </div>
  </app-header-item>
  <app-header-item>
    <img src="/assets/icons/location-group.png" alt="location" slot="icon">
    <span slot="name">Населенные пункты</span>
  </app-header-item>
</div>
