@import "../../../styles/variables";
.table_container__item{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #606580;
  padding: 14px 0 10px;
  width: 100%;
}

