<div class="table_container">

  <app-table-row [header]="true">

    <app-table-item slot="items">Наименование</app-table-item>
    <app-table-item slot="items">Скорость ветра < 5%</app-table-item>
    <app-table-item slot="items">Население, тыс. чел</app-table-item>
    <app-table-item slot="items">Площадь, км²</app-table-item>
    <app-table-item slot="items">Коэф. стратификации</app-table-item>
    <app-table-item slot="items">Плотн. воздуха</app-table-item>
    <app-table-item slot="items">Коэф. рельефа</app-table-item>
    <app-table-item slot="items">Ср. темп. наиб. тепл. мес.</app-table-item>
    <app-table-item slot="items">Ср. темп. наиб. холод. мес.</app-table-item>
    <app-table-item slot="items">Режим учета фон. конц.</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/zoom.png" alt="zoom">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/plus.png" alt="plus">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="false">

    <app-table-item slot="items">Москва</app-table-item>
    <app-table-item slot="items">4</app-table-item>
    <app-table-item slot="items">11 920</app-table-item>
    <app-table-item slot="items">2 511</app-table-item>
    <app-table-item slot="items">140</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">1.5</app-table-item>
    <app-table-item slot="items">23</app-table-item>
    <app-table-item slot="items">1</app-table-item>
    <app-table-item slot="items">8 румбов</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon>
        <img src="/assets/icons/edit.png" alt="edit">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/trash.png" alt="trash">
      </app-button-with-icon>
      <app-button-with-icon>
        <img src="/assets/icons/map.png" alt="map">
      </app-button-with-icon>
    </div>
  </app-table-row>
</div>
