<div class="table_container">

  <app-table-row [header]="true" *ngIf="!wantSearchPlace">
    <app-table-item slot="items">Наименование</app-table-item>
    <app-table-item slot="items">Скорость ветра < 5%</app-table-item>
    <app-table-item slot="items">Население, тыс. чел</app-table-item>
    <app-table-item slot="items">Площадь, км²</app-table-item>
    <app-table-item slot="items">Коэф. стратификации</app-table-item>
    <app-table-item slot="items">Плотн. воздуха</app-table-item>
    <app-table-item slot="items">Коэф. рельефа</app-table-item>
    <app-table-item slot="items">Ср. темп. наиб. тепл. мес.</app-table-item>
    <app-table-item slot="items">Ср. темп. наиб. холод. мес.</app-table-item>
    <app-table-item slot="items">Режим учета фон. конц.</app-table-item>
    <app-table-item slot="items">Система координат</app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon (onClick)="toggleSearchPlace()">
        <img src="/assets/icons/zoom.png" alt="zoom">
      </app-button-with-icon>
      <app-button-with-icon (onClick)="toggleAddPlace()">
        <img src="/assets/icons/plus.png" alt="plus">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="true" *ngIf="wantAddPlace" [active]="wantAddPlace">
    <app-table-item slot="items">
      <app-editable-field [(inputModel)]="new_place.name" [editable]="wantAddPlace"></app-editable-field>
    </app-table-item>
    <app-table-item slot="items">
      <app-editable-field appOnlynumber [(inputModel)]="new_place.u_speed" [editable]="wantAddPlace"></app-editable-field>
    </app-table-item>
    <app-table-item slot="items">
      <app-editable-field appOnlynumber [(inputModel)]="new_place.population" [editable]="wantAddPlace"></app-editable-field>
    </app-table-item>
    <app-table-item slot="items">

      <app-editable-field appOnlynumber [(inputModel)]="new_place.square" [editable]="wantAddPlace"></app-editable-field>
    </app-table-item>
    <app-table-item slot="items">
      <app-editable-field appOnlynumber [(inputModel)]="new_place.stratification_coefficient"
                          [editable]="wantAddPlace"></app-editable-field>
    </app-table-item>
    <app-table-item slot="items">
      <app-editable-field appOnlynumber [(inputModel)]="new_place.air_density" [editable]="wantAddPlace"></app-editable-field>
    </app-table-item>
    <app-table-item slot="items">
      <app-editable-field appOnlynumber [(inputModel)]="new_place.relief_coefficient" [editable]="wantAddPlace"></app-editable-field>
    </app-table-item>
    <app-table-item slot="items">
      <app-editable-field appOnlynumber [(inputModel)]="new_place.avg_temperature_of_could_month"
                          [editable]="wantAddPlace"></app-editable-field>
    </app-table-item>
    <app-table-item slot="items">
      <app-editable-field appOnlynumber [(inputModel)]="new_place.avg_temperature_of_warm_month"
                          [editable]="wantAddPlace"></app-editable-field>
    </app-table-item>
    <app-table-item slot="items">
      <app-select-box [onChange]="handleBackgroundModeChange" [opened]="wantAddPlace &&  select_type === 'background_mode'" [editable]="wantAddPlace" (onClick)="toggleSelectBox(new_place.id,'background_mode')" [options]="static_options">
        <div [ngClass]="{'static-field_container':true, 'select': wantAddPlace}"  *ngIf="new_place.background_mode === '8_rumb'" slot="label"> 8 румбов </div>
        <div [ngClass]="{'static-field_container':true, 'select': wantAddPlace}" *ngIf="new_place.background_mode === '4_rumb'" slot="label"> 4 румбов </div>
        <div [ngClass]="{'static-field_container':true, 'select': wantAddPlace}" *ngIf="new_place.background_mode === 'const'" slot="label"> Константа </div>
        <app-editable-field [static]="true" [(inputModel)]="new_place.background_mode" [editable]="false" [select]="wantAddPlace" slot="label"></app-editable-field>
      </app-select-box>
    </app-table-item>
    <app-table-item slot="items">
      <app-select-box [onChange]="handleCRSSelectChange" [opened]="wantAddPlace && select_type === 'crs'" [editable]="wantAddPlace" (onClick)="toggleSelectBox(new_place.id,'crs')" [options]="coordinates">
        <app-editable-field [(inputModel)]="new_place.crs.name" [editable]="false" [select]="wantAddPlace" slot="label"></app-editable-field>
      </app-select-box>
    </app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon [primary]="true" (onClick)="handleAddPlace()">
        <img src="/assets/icons/check.png" alt="check">
      </app-button-with-icon>
      <app-button-with-icon (onClick)="toggleAddPlace()">
        <img src="/assets/icons/cancel.png" alt="cancel">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <app-table-row [header]="true" *ngIf="wantSearchPlace" [search]="wantSearchPlace">
    <app-table-item slot="items">
      <input class="search_container" autofocus="true"  [(ngModel)]="search_value" placeholder="Полное наименование" (input)="handleSearchPlace()"/>
    </app-table-item>
    <div class="table_container__actions" slot="actions">
      <app-button-with-icon [active]="true" (onClick)="toggleSearchPlace()">
        <img src="/assets/icons/zoom.png" alt="zoom">
      </app-button-with-icon>
      <app-button-with-icon (onClick)="toggleAddPlace()">
        <img src="/assets/icons/plus.png" alt="plus">
      </app-button-with-icon>
    </div>
  </app-table-row>
  <div *ngFor="let place of places; let i = index">
    <app-table-row [header]="false" [active]="wantEditPlace === place.id">
      <app-table-item slot="items">
        <app-editable-field  [(inputModel)]="place.name" [editable]="wantEditPlace === place.id"></app-editable-field>
      </app-table-item>
      <app-table-item slot="items">
        <app-editable-field appOnlynumber [(inputModel)]="place.u_speed" [editable]="wantEditPlace === place.id"></app-editable-field>
      </app-table-item>
      <app-table-item slot="items">
        <app-editable-field appOnlynumber [(inputModel)]="place.population"
                            [editable]="wantEditPlace === place.id"></app-editable-field>
      </app-table-item>
      <app-table-item slot="items">
        <app-editable-field appOnlynumber [(inputModel)]="place.square" [editable]="wantEditPlace === place.id"></app-editable-field>
      </app-table-item>
      <app-table-item slot="items">
        <app-editable-field appOnlynumber [(inputModel)]="place.stratification_coefficient"
                            [editable]="wantEditPlace === place.id"></app-editable-field>
      </app-table-item>
      <app-table-item slot="items">
        <app-editable-field appOnlynumber [(inputModel)]="place.air_density"
                            [editable]="wantEditPlace === place.id"></app-editable-field>
      </app-table-item>
      <app-table-item slot="items">
        <app-editable-field appOnlynumber [(inputModel)]="place.relief_coefficient"
                            [editable]="wantEditPlace === place.id"></app-editable-field>
      </app-table-item>
      <app-table-item slot="items">
        <app-editable-field [(inputModel)]="place.avg_temperature_of_could_month"
                            [editable]="wantEditPlace === place.id"></app-editable-field>
      </app-table-item>
      <app-table-item slot="items">
        <app-editable-field appOnlynumber [(inputModel)]="place.avg_temperature_of_warm_month"
                            [editable]="wantEditPlace === place.id"></app-editable-field>
      </app-table-item>

      <app-table-item slot="items">
        <app-select-box [onChange]="handleBackgroundModeChange" [opened]="showSelectBox === place.id && select_type === 'background_mode'" [editable]="wantEditPlace === place.id" (onClick)="toggleSelectBox(place.id,'background_mode')" [options]="static_options">
          <div [ngClass]="{'static-field_container':true, 'select': wantEditPlace === place.id}"  *ngIf="place.background_mode === '8_rumb'" slot="label"> 8 румбов </div>
          <div [ngClass]="{'static-field_container':true, 'select': wantEditPlace === place.id}" *ngIf="place.background_mode === '4_rumb'" slot="label"> 4 румбов </div>
          <div [ngClass]="{'static-field_container':true, 'select': wantEditPlace === place.id}" *ngIf="place.background_mode === 'const'" slot="label"> Константа </div>
           <app-editable-field [static]="true" [(inputModel)]="place.background_mode" [editable]="false" [select]="wantEditPlace === place.id" slot="label"></app-editable-field>
        </app-select-box>
      </app-table-item>

      <app-table-item slot="items">
        <app-select-box [onChange]="handleCRSSelectChange" [opened]="showSelectBox === place.id && select_type === 'crs'" [editable]="wantEditPlace === place.id" (onClick)="toggleSelectBox(place.id,'crs')" [options]="coordinates">
          <app-editable-field [(inputModel)]="place.crs.name" [editable]="false" [select]="wantEditPlace === place.id" slot="label"></app-editable-field>
        </app-select-box>
      </app-table-item>

      <div [ngClass]="{'table_container__actions':true, 'active': wantEditPlace === place.id}" slot="actions" *ngIf="wantEditPlace === place.id">
        <app-button-with-icon [primary]="true" (onClick)="handleEditPlace(place)">
          <img src="/assets/icons/check.png" alt="check">
        </app-button-with-icon>
        <app-button-with-icon (onClick)="toggleEditPlace(false)">
          <img src="/assets/icons/cancel.png" alt="cancel">
        </app-button-with-icon>
      </div>
      <div class="table_container__actions" slot="actions" *ngIf="!wantEditPlace">
        <app-button-with-icon (onClick)="toggleEditPlace(place)">
          <img src="/assets/icons/edit.png" alt="edit">
        </app-button-with-icon>
        <app-button-with-icon (onClick)="handleDeletePlace(place.id)">
          <img src="/assets/icons/trash.png" alt="trash">
        </app-button-with-icon>
        <app-button-with-icon>
          <img src="/assets/icons/map.png" alt="map">
        </app-button-with-icon>
      </div>
    </app-table-row>
  </div>
  <app-pagination>
    <app-pagination-item (onClick)="getSelectedPagePlaces(pagination.current_page - 1)">
      <img src="/assets/icons/prev.png" alt="">
    </app-pagination-item>
    {{pagination.total_pages}}
    <div *ngFor="let page of pagination.total_pages">
      <app-pagination-item [active]="pagination.current_page == page+1" (onClick)="getSelectedPagePlaces(page+1)" >{{page+1}}</app-pagination-item>
    </div>
    <app-pagination-item (onClick)="getSelectedPagePlaces(pagination.current_page + (1))">
      <img src="/assets/icons/next.png" alt="">
    </app-pagination-item>
  </app-pagination>
</div>
